{% extends 'core/administrador/plantillaAdministrador.html'%}
{% load static %}
    {% block titulo%}
    <title>Agregar</title>
    {% endblock titulo%}
    
    {% block disenos%}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/comprar-diseno.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/agregar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/formularios.css' %}">
    {% endblock disenos%}

    {% block cuerpo%}
        <div class="container">

            <!--Cuerpo-->
            <div class="cuerpo">
                <div class="row">
                    <div class="col-md-12">
                        <h1 style="font-size: 45px; text-align: center; text-decoration: underline; margin-top: 3%;">Agregar</h1>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-2"></div>

                    <div class="col-md-8 ajustado-posicion">
                        <form action="{% url 'agregarProducto' %}" id="form_agregar" method="POST" name="agregar-prod" enctype="multipart/form-data" >
                            {% csrf_token %}            
                            <div class="form-group contenedor__img contenedor__atributo left">
                                <label for="imagen">Imagen:</label><br>
                                <input class="imagen" type="file" id="imagen" name="imagen">
                                <p id="alerta_imagen-prod" class="alerta"></p>
                            </div>
            
                            <div class="form-group contenedor__nombre contenedor__atributo left">
                                <label for="nombre">Nombre:</label><br>
                                <input class="nombre" type="text" id="nombre" name="nombre" >
                                <p id="alerta_nombre-prod" class="alerta"></p>
                            </div>
            
                            <div class="form-group contenedor__atributo left">
                                <label class="align-self-start" for="descripcion">Descripción:</label><br>
                                <textarea class="descripcion" id="descripcion" name="descripcion"></textarea>
                                <p id="alerta_descripcion-prod" class="alerta"></p>
                            </div>

                            <div class="form-group contenedor__precio contenedor__atributo left">
                                <label for="precio">Precio:</label><br>
                                <input class="precio" type="text" id="precio" name="precio">
                                <select name="medida" >
                                    <option value="por Unidad">por Unidad</option>
                                    <option value="por Par">por Par</option>
                                    <option value="por Metro">por Metro</option>
                                    <option value="por Docena">por Docena</option>
                                </select>
                                <p id="alerta_precio-prod" class="alerta"></p>
                            </div>
            
                            <div class="form-group contenedor__stock contenedor__atributo left">
                                <label for="stock">Stock:</label><br>
                                <input class="stock" type="number" id="stock" name="stock" >
                                <p id="alerta_stock-prod" class="alerta"></p>
                            </div>

                            <div class="form-group contenedor__cate contenedor__atributo left">
                                <label for="categoria">Categoria:</label><br>
                                <select id="categoria" name="categoria" >
                                    {% for c in categories%}
                                    <option value="{{c.id_categoria}}">{{c.nombre_categoria}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            
                            <div class="container-button">
                                <input class="boton" type="submit" name="agregar" value="Agregar">
                                <input class="boton" type="reset" name="limpiar" value="Limpiar">
                            </div>
                            
                        </form>

                    </div>

                    <div class="col-md-2"></div>

                </div>
            </div>
            
        </div>
    {% endblock cuerpo%}

    {% block js%}
    <script src="{% static 'core/js/validaciones_agregar-productos.js' %}"></script>
    {% endblock js%}   