{% extends 'core/administrador/plantillaAdministrador.html' %}
{% load static %}
    {% block titulo%}
    <title>Electricidad</title>
    {% endblock titulo%}

    {% block disenos%}
    <link rel="stylesheet" type="text/css" href="{% static  'core/css/comprar-diseno.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static  'core/css/inventario.css'%}">
    {% endblock disenos%}

    {% block cuerpo%}
        <div class="container">

            <!--Cuerpo-->
            <div class="row">
                <div class="col-md-12">  
                    <h1 class="titulo">Electricidad</h1>
                </div>
            
            </div>

            <div class="row">

                <div class="col-md-2"></div>

                {% for i in products %}
                <p style="display: none;">{{i.cod_prod}}</p>
                <div class="col-md-2 contenedor__producto">
                    <div class="contenedor__producto-img">
                        <img src="{{ i.foto_prod.url }}" alt="No hay imagen disponible">
                    </div>
                    <div class="contenedor__producto-texto">
                        <a href="{% url 'mostrarProductoAdm' i.cod_prod%}">{{ i.nombre_prod }}</a> 
                    </div>
                    <div class="contenedor__producto-precio">
                        <p>$ {{ i.precio }} {{ i.unidad_medida }}</p>
                    </div>
                </div>
                {% endfor %}
                    
                

                <div class="col-md-2"></div>

            </div>

            <div class="row">

                <div class="col-md-2 contenedor__producto contenedor__nuevo">
                    <div class="contenedor__producto-img">
                        <img src="{% static  'core/img/mas.png'%}" alt="No hay imagen disponible">
                    </div>
                    <div class="contenedor__producto-texto">
                        <a href="{% url 'mostrarAgregar' %}">Agregar</a>    
                    </div>
                </div>

            </div>       
        </div>
    {% endblock cuerpo %}
