{% extends 'core/administrador/plantillaAdministrador.html'%}
{% load static %}
    {% block titulo%}
    <title>Editar Rol</title>
    {% endblock titulo%}
    
    {% block disenos%}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/formularios.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/editar-rol.css' %}">
    {% endblock disenos%}

    {% block cuerpo%}
        <div class="container">

            <table class="contenedor-tabla" cellspacing="5" cellpadding="2" border="2" bgcolor="#ff0">
                <tr align="center">
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Foto</th>
                    <th>Rol</th>
                    <th>Administrar</th>
                </tr>
        
                {% for c in clients %}
                <tr align="center">
                    <td>{{c.id_usuario}}</td>
                    <td>{{ c.nombre }}</td>
                    <td class="contenedor-imagen">
        
                        <img class="imagenes" src="{{ c.foto_usuario.url }}" alt="No foto">
        
                    </td>
                    <td>{{c.rol.nombre_rol}}</td>
                    <td>
                        
                        <a href="{% url 'editarRol' c.id_usuario %}"class="boton-fake-1">Cambiar Rol</a><br>
                    </td>
        
                </tr>
                {% endfor %}
            </table>
        </div>

        {% if messages %}
                {% for message in messages %}
                    <script>
                        Swal.fire({
                            "title": "Acción Exitosa",
                            "text": "{{message}}",
                            "confirmButtonColor": "#000",
                            "background": "#ff0"
                        })
                    </script>
                {% endfor %}
        {% endif %}

    {% endblock cuerpo%}