{% extends 'core/administrador/plantillaAdministrador.html'%}
{% load static %}
    {% block titulo %}
    <title>Editar Perfil</title>
    {% endblock titulo %}

    {% block disenos %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/perfil-adm.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/formularios.css' %}">
    {% endblock disenos%}

    {% block cuerpo%}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 style="font-size: 45px; text-align: center; text-decoration: underline; margin-top: 3%;">Perfil</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                </div>

                <div class="col-md-8 ajustado-posicion">
                    <form {% csrf_token %} id="form_editar-perfil" class="contenedor__perfil-form posicion-casillas-formulario editar" method="post" enctype="multipart/form-data">
                        <div class="form-group left">

                            <div class="contenedor__perfil-foto-e">
                                <img src="{% static 'core/img/icono-perfil.png' %}" alt="No hay imagen">
                            </div> 
                            <label for="imagen">Imagen:</label><br>
                            <input class="imagen" type="file" id="imagen" name="imagen">
                            <p id="alerta_imagen-ed_perfil" class="alerta"></p>
                        </div>
                        <br>

                        <div class="form-group left">
                            <label>Nombre:</label><br>
                            <input type="text" value="Abelardo" id="nombre"><br>
                            <p id="alerta_nombre-ed_perfil" class="alerta"></p>
                        </div>
                        <br>

                        <div class="form-group left">
                            <label>Apellido:</label><br>
                            <input type="text" value="Sánchez" id="apellido"><br>
                            <p id="alerta_apellido-ed_perfil" class="alerta"></p>
                        </div>
                        <br>

                        <div class="form-group left">
                            <label>Rut:</label><br>
                            <input type="text" value="21342568" style="width: 25%;" id="rut">
                            <input style="width: 6%;" type="text" value="4" id="dvrut"><br>
                            <label for="aclaracion" style="font-size: 12px;">Anote su rut sin puntos ni guión, si termina en k digite 0</label>
                            <p id="alerta_rut-ed_perfil" class="alerta"></p>
                        </div>
                        <br>
                        <div class="form-group left">
                            <label>Télefono:</label><br>
                            <input type="tel" min="11111111" max="99999999" value="64982253" id="telefono">
                            <p id="alerta_telefono-ed_perfil" class="alerta"></p>
                        </div>
                        <br>
                        <div class="form-group left">
                            <label>Dirección:</label><br>
                            <input type="text" value="Caupolicán 1257" id="direccion">
                            <p id="alerta_direccion-ed_perfil" class="alerta"></p>
                        </div>
                        <br>
                        <div class="form-group left">
                            <label for="correo_reg">Correo Electrónico:</label><br>
                            <input type="email" id="correo" name="correo_reg" value="abelx3678@gmail.com">
                            <p id="alerta_correo" class="alerta"></p>
                        </div>

                        <br>
                        <div class="form-group left">
                            <label>Pregunta de seguridad:</label><br>
                            <select id="pregunta">
                                <option value="0"></option>
                                <option value="1" selected>¿Cual es el nombre de tu mascota?</option>
                                <option value="2">¿Cual es tu color favorito?</option>
                                <option value="3">¿Cual es tu ciudad natal?</option>
                            </select><br><br>
                            <p id="alerta_pregunta-ed_perfil" class="alerta"></p>
                            <label for="contra_confirm">Respuesta:</label><br>
                            <input type="text" id="respuesta" name="respuesta" value="Tomas Eduardo" id="respuesta"><br>
                            <p id="alerta_respuesta-ed_perfil" class="alerta"></p>
                        </div>
                        <br>

                        <div class="container-button">
                            <input type="submit" value="Guardar">
                            <input type="button" value="Eliminar cuenta">
                        </div>
                    </form>
                </div>

                <div class="col-md-2">
                </div>
            </div>
            
        </div>
    {% endblock cuerpo%}
    
    {% block js%}
        <script src="{% static 'core/js/editar-perfil.js' %}"></script>
    {% endblock js%} 