{% extends 'core/administrador/plantillaAdministrador.html'%}
{% load static %}

    {% block titulo%}
    <title>Pagina Principal</title>
    {% endblock titulo%}

    {% block cuerpo%}
        <div class="row">

            <div class="col-md-12 body-container-main">
                <div class="body-container__p-container"> <!--Editar -->
                    <h2>Todo lo que<br>
                        necesitas.</h2>
                    <p>Todo lo que necesitas en tu taller!!</p>
                </div>
            </div>

        </div>

    {% endblock cuerpo%}

