{% extends 'core/administrador/plantillaAdministrador.html'%}
{% load static %}
    {% block titulo %}
    <title>Perfil</title>
    {% endblock titulo %}

    {% block disenos %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/perfil-adm.css' %}">
    {% endblock disenos %}

    {% block cuerpo %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 style="font-size: 45px; text-align: center; text-decoration: underline; margin-top: 3%;">Perfil</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                </div>

                <div class="col-md-4 col-sm-12">
                    <div class="contenedor__perfil-foto">
                        <img src="{% static 'core/img/icono-perfil.png' %}" alt="No hay imagen">
                    </div>  
                </div>

                <div class="col-md-4 col-sm-12">
                    <div class="contenedor__perfil-texto">
                        <p> Nombre: {{nombre}} <br>
                            Apellido: {{apellido}} <br>
                            Rut: {{rut}}-{{dvrut}} <br>
                            Télefono: +56 9 {{telefono}} <br>
                            Dirección: {{direccion}}
                        </p>
                        <div class="container-button">
                            <a class="boton-fake-2" href="{% url 'mostrarEditarPerfilAdm' %}">Editar</a>
                        </div>
                        <div class="container-button">
                            <a class="boton-fake-2" href="{% url 'mostrarCambioContraAdm' %}">Editar</a>
                        </div>
                        
                        
                    </div>
                </div>

                <div class="col-md-2">
                </div>
            </div>
            
        </div>
    {% endblock cuerpo %}