{% extends 'core/administrador/plantillaAdministrador.html'%}
{% load static %}
    {% block titulo %}
    <title>Perfil</title>
    {% endblock titulo %}

    {% block disenos %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/perfil-adm.css' %}">
    {% endblock disenos %}

    {% block cuerpo %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 style="font-size: 45px; text-align: center; text-decoration: underline; margin-top: 3%;">Perfil</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                </div>

                <div class="col-md-4 col-sm-12">
                    <div class="contenedor__perfil-foto">
                        <img src="{% static 'core/img/icono-perfil.png' %}" alt="No hay imagen">
                    </div>  
                </div>

                <div class="col-md-4 col-sm-12">
                    <div class="contenedor__perfil-texto">
                        <p> Nombre: Abelardo<br>
                            Apellido: Sánchez<br>
                            Rut: 21.342.568-4<br>
                            Télefono: +56764982253<br>
                            Dirección: Caupolicán 1257
                        </p>
                        <form class="contenedor-boton" action="{% url 'mostrarEditarPerfilAdm' %}">
                            <button>Editar</button>
                        </form>
                        <form class="contenedor-boton" action="{% url 'mostrarCambioContraAdm' %}">
                            <button>Cambiar contraseña</button>
                        </form>
                    </div>
                </div>

                <div class="col-md-2">
                </div>
            </div>
            
        </div>
    {% endblock cuerpo %}