<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/barra.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/perfil-adm.css' %}">
</head>
<body>
    <div class="container-fluid">

        <!--Encabezado-->
        <div class="row header-container">

            <div class="col-md-1">
                <img class="logo" src="{% static 'core/img/icono.png'%}" alt="Imagen no disponible">
            </div>

            <div class="col-md-1 header-container__name-container">
                <a href="index-adm.html">IVAN'S</a>
            </div>

            <div class="col-md-6 col-sm-12">
                <form name="busqueda" method="GET" id="busqueda" >

                    <div class="contenedor_buscar">

                        <div class="header-container__search-container">
                            <input id="Barra-buscar" type="text" placeholder="Buscar..">
                        </div>

                        <div class="header-container__button-container">
                            <input type="submit" name="boton" id="buscar" value="Buscar">
                        </div>

                    </div>

                </form>
            </div>

            <div class="col-md-4 header-container__ul-container">
                <ul>
                    <li><a href="Perfil-adm.html">Perfil</a></li>
                    <li><a href="../index.html">Cerrar sesión</a></li> 
                 </ul>
            </div>
        </div>

        <!--Navegación-->
        <div class="row">
            <nav class="navbar navbar-expand-lg contenedor_nav">
                <div class="nav-container">

                    <div class="col-md-12 col-sm-12 col-lg-12 ">
                        <button class="navbar-toggler boton-nav" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                
                        <div class="collapse navbar-collapse" id="navbarNav">
                
                            <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link links" href="Herramientas-adm.html">HERRAMIENTAS</a></li> 
                            <li class="nav-item"><a class="nav-link links" href="gasfiteria-adm.html">GASFITERIA</a></li> 
                            <li class="nav-item"><a class="nav-link links" href="electricidad-adm.html">ELECTRICIDAD</a></li> 
                            <li class="nav-item"><a class="nav-link links" href="seguridad-adm.html">SEGURIDAD</a></li> 
                            <li class="nav-item"><a class="nav-link links" href="ropa-adm.html">ROPA Y PROTECCIÓN</a></li> 
                            <li class="nav-item"><a class="nav-link links" href="fijaciones-adm.html">FIJACIONES</a></li> 
                            <li class="nav-item"><a class="nav-link links ultimo" href="kits-adm.html">KITS</a></li> 
                            </ul>
                
                        </div>
                    </div>


                </div>
            </nav>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="font-size: 45px; text-align: center; text-decoration: underline; margin-top: 3%;">Perfil</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="contenedor__perfil-foto">
                    <img src="{% static 'core/img/icono-perfil.png' %}" alt="No hay imagen">
                </div>  
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="contenedor__perfil-texto">
                    <p> Nombre: Abelardo<br>
                        Apellido: Sánchez<br>
                        Rut: 21.342.568-4<br>
                        Télefono: +56764982253<br>
                        Dirección: Caupolicán 1257
                    </p>
                    <form class="contenedor-boton" action="editar-perfil-adm.html">
                        <button>Editar</button>
                    </form>
                    <form class="contenedor-boton" action="cambiar-contrasena-adm.html">
                        <button>Cambiar contraseña</button>
                    </form>
                </div>
            </div>

            <div class="col-md-2">
            </div>
        </div>
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>