<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar Contraseña</title>
    <!-- Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <!--Javascript-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
    <!--Diseño propio-->
    <link rel="stylesheet" type="text/css" href="{% static  'core/css/barra.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static  'core/css/formularios.css'%}">
</head>
<body>
    <div class="container-fluid">

        <!--Encabezado-->
        <div class="row header-container">

            <div class="col-md-1">
                <img class="logo" src="../../img/icono.png" alt="Imagen no disponible">
            </div>

            <div class="col-md-1 header-container__name-container">
                <a href="{% url 'mostrarIndexCli' %}">IVAN'S</a>
            </div>

            <div class="col-md-6 col-sm-12">
                <form name="busqueda" method="GET" id="busqueda" >

                    <div class="contenedor_buscar">

                        <div class="header-container__search-container">
                            <input id="Barra-buscar" type="text" placeholder="Buscar..">
                        </div>

                        <div class="header-container__button-container">
                            <input type="submit" name="boton" id="buscar" value="Buscar">
                        </div>

                    </div>

                </form>
            </div>

            <div class="col-md-4 header-container__ul-container">
                <ul>
                    <li><a href="{% url 'mostrarNosotrosCli' %}">NOSOTROS</a></li> 
                    <li><a href="{% url 'mostrarCarritoCli' %}">CARRITO</a></li> 
                    <li><a href="{% url 'mostrarPerfilCli' %}">Perfil</a></li> 
                    <li><a href="{% url 'mostrarIndex' %}">Cerrar sesión</a></li> 
                 </ul>
            </div>
        </div>

        <!--Navegación-->
        <div class="row nav-container">

            <div class="col-md-2 col-sm-0 col-lg-0"></div>

            <div class="col-md-8col-sm-12 col-lg-12  nav-container__ul-container">
                <ul>
                    <li><a href="{% url 'mostrarCategoriaCli' %}">HERRAMIENTAS</a></li> 
                    <li><a href="{% url 'mostrarCategoriaCli' %}">GASFITERIA</a></li> 
                    <li><a href="{% url 'mostrarCategoriaCli' %}">ELECTRICIDAD</a></li> 
                    <li><a href="{% url 'mostrarCategoriaCli' %}">SEGURIDAD</a></li> 
                    <li><a href="{% url 'mostrarCategoriaCli' %}">ROPA Y PROTECCIÓN</a></li> 
                    <li><a href="{% url 'mostrarCategoriaCli' %}">FIJACIONES</a></li> 
                    <li><a href="{% url 'mostrarCategoriaCli' %}">KITS</a></li> 
                </ul>
            </div>

            <div class="col-md-2 col-sm-0 col-lg-0"></div>

        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
            </div>


            <div class="col-md-4 ajustado-posicion">
                <h1>Cambio de Contraseña</h1>
                <form id="cambiar-contra-cli" method="post" enctype="application/x-www-form-urlencoded">
                    <div class="form-group">
                        <label for="contra_nueva">Contraseña actual:</label><br>
                        <input type="password" id="contra_actual" name="contra_actual"><br>
                        <p  id="alerta-actual" class="alerta"></p><br>
                    </div>

                    <div class="form-group">
                        <label for="contra_nueva">Contraseña nueva:</label><br>
                        <input type="password" id="contra_nueva" name="contra_nueva"><br>
                        <p class="alerta" id="alerta-nueva"></p><br>
                    </div>

                    <div class="form-group">
                        <label for="contra_confirm">Confirmar Contraseña:</label><br>
                        <input type="password" id="contra_confirm" name="contra_confirm"><br>
                        <p class="alerta" id="alerta-conf"></p><br>
                    </div>

                    <div class="container-button">
                        <input type="submit" value="Confirmar" name="confirmar">
                    </div>
                    
                </form>  
                

            </div>

            <div class="col-md-4">
            </div>
        </div>
    </div>
    <script src="{% static 'core/js/cambiar-contra-cli.js' %}"></script>
</body>
</html>