{% extends 'core/cliente/plantillaConCuenta.html'%}
{% load static %}

    {% block titulo %}
    <title>Cambiar Contraseña</title>
    {% endblock titulo %}
    
    {% block disenos %}
    <link rel="stylesheet" type="text/css" href="{% static  'core/css/formularios.css'%}">
    {% endblock disenos %}

    {% block cuerpo %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4 ajustado-posicion">
                <h1>Cambio de Contraseña</h1>
                <form {% csrf_token %} id="cambiar-contra-cli" method="post" enctype="application/x-www-form-urlencoded">
                    <div class="form-group">
                        <label for="contra_nueva">Contraseña actual:</label><br>
                        <input type="password" id="contra_actual" name="contra_actual"><br>
                        <p  id="alerta-actual" class="alerta"></p><br>
                    </div>
                    <div class="form-group">
                        <label for="contra_nueva">Contraseña nueva:</label><br>
                        <input type="password" id="contra_nueva" name="contra_nueva"><br>
                        <p class="alerta" id="alerta-nueva"></p><br>
                    </div>
                    <div class="form-group">
                        <label for="contra_confirm">Confirmar Contraseña:</label><br>
                        <input type="password" id="contra_confirm" name="contra_confirm"><br>
                        <p class="alerta" id="alerta-conf"></p><br>
                    </div>
                    <div class="container-button">
                        <input type="submit" value="Confirmar" name="confirmar">
                    </div>                    
                </form>  
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
    {% endblock cuerpo %}

    {% block js %}
    <script src="{% static 'core/js/cambiar-contra-cli.js' %}"></script>
    {% endblock js %}