{% extends 'core/cliente/plantillaConCuenta.html'%}
{% load static %}

    {% block titulo %}
    <title>Carrito</title>
    {% endblock titulo %}
    
    {% block disenos %}
    <link rel="stylesheet" type="text/css" href="{% static  'core/css/carrito.css'%}">
    <script src="https://kit.fontawesome.com/2c74fac334.js" crossorigin="anonymous"></script>
    {% endblock disenos %}

    {% block cuerpo %}
    <div class="container">
        <div class="row" >
            <div class="col-md-12">
                <h1 style="font-size: 45px; text-align: center; text-decoration: underline; margin-top: 2%;">TU CARRITO</h1>
            </div>
        </div>

        {% if carrito.doesNotExist %}

            {% if messages %}
                {% for message in messages %}
                    <script>
                        Swal.fire({
                            "title": "Aviso",
                            "text": "{{message}}",
                            "icon": "warning",
                            "confirmButtonColor": "#000",
                            "background": "#ff0"
                        })
                    </script>
                {% endfor %}
            {% endif %}

        {% else %}  

            {% for i in carrito %}

            <div class="row contenedor__producto ">                
                <div class="col-md-6">
                    <div class="contenedor__producto-img">
                        <img src="{{ i.producto.foto_prod.url }}" alt="No hay imagen disponible">
                    </div>
                </div>                
                <div class="col-md-6">
                    <div class="contenedor__producto-texto">
                        <h2>{{ i.producto.nombre_prod }}</h2>
                    </div>
                    <div class="contenedor__producto-precio">
                        <p>${{ i.subtotal }}</p>
                    </div>
                    <form name="contador" class="container-button" method="POST">
                        {% csrf_token %}
                        <input type="number" min="1" value="{{ i.cantidad }}" class="contador" name="cantidad">
                        <button type="submit">Aceptar</button>
                    </form>
                    <form name="borrar-form" style="margin-top: -48px;" class="container-button"  method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="producto_id" value="{{ i.producto.id }}">
                        <button type="submit" class="borrar"><i class="fa-solid fa-trash"></i></button>
                    </form>
                </div>
            </div>
            
            {% endfor %}

        {% endif %}     
        
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form class="form-group" style="text-align: center;">
                    {% csrf_token %}
                    <label for="Total">Total: $</label>
                    <input class="no-editable" type="number" min="0" name="total" value="133905" readonly style="width: 30%;">
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form action="{% url 'mostrarMetodoPago' %}" name="pagar" class="container-button-p">
                    {% csrf_token %}
                    <input style="text-align: center; width: 50%; height: 50px; margin-bottom: 5%;" type="submit" value="Pagar">
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    {% endblock cuerpo %}