{% extends 'core/cliente/plantillaConCuenta.html'%}
{% load static %}

    {% block titulo %}
    <title>Carrito</title>
    {% endblock titulo %}
    
    {% block disenos %}
    <link rel="stylesheet" type="text/css" href="{% static  'core/css/carrito.css'%}">
    <script src="https://kit.fontawesome.com/2c74fac334.js" crossorigin="anonymous"></script>
    <style>
        @media screen and (min-width: 0px) and (max-width: 576px){
    
            #borrar-boton{
                display: flex;
                margin-left: 200px;
            }
    
            
        }
    </style>
    {% endblock disenos %}

    {% block cuerpo %}
    <div class="container">
        <div class="row" >
            <div class="col-md-12">
                <h1 style="font-size: 45px; text-align: center; text-decoration: underline; margin-top: 2%;">TU CARRITO</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2">

                <div class="container-button">
                    <a class="boton-fake-2" style="border: 2px solid #000;" href="{% url 'mostrarHistorial' %}">Ver historial de compra</a>
                </div>

            </div>
            
        </div>
        {% if carrito %}
        
            {% for i in carrito %}
                
            <div class="row contenedor__producto ">                
                <div class="col-md-6">
                    <div class="contenedor__producto-img">
                        <img src="{{ i.producto.foto_prod.url }}" alt="No hay imagen disponible">
                    </div>
                </div>                
                <div class="col-md-6">
                    <div class="contenedor__producto-texto">
                        <h2>{{ i.producto.nombre_prod }}</h2>
                    </div>
                    <div class="contenedor__producto-precio">
                        <p>${{ i.subtotal }}</p>
                    </div>
                    <form name="contador" id="boton-cant" class="contene_boton" method="POST" action="{% url 'cambiarCantidad' i.id_detalle%}">
                        {% csrf_token %}
                        <input type="number" min="1" value="{{ i.cantidad }}" class="contador" name="nueva_cantidad_{{ i.id_detalle }}" id="cantidad">
                        <input type="submit" value="Aceptar">
                    </form>
                    <form name="borrar-form" style="margin-top: -48px;" id="borrar-boton" class="container-button"  method="POST" action="{% url 'sacarDelCarro' i.id_detalle%}">
                        {% csrf_token %}
                        <input type="hidden" name="producto_id" value="{{ i.producto.id }}">
                        <button type="submit" class="borrar"><i class="fa-solid fa-trash"></i></button>
                    </form>
                </div>
            </div>
            
            {% endfor %}
        
            <p id="alerta-cant" class="alerta" style="font-size: 25px; text-align: center;"></p><br>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <form class="form-group container-button"  style="text-align: center; margin: auto; margin-top: 20px;">
                        {% csrf_token %}
                        <label for="Total">Total: $</label>
                        <input style="color: #fff; background: #000; width: 40%;" class="no-editable" type="number" min="0" name="total" value="{{venta.total}}" readonly style="width: 30%;" >
                    </form>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <form action="{% url 'mostrarMetodoPago'}" name="pagar" class="container-button-p">
                        {% csrf_token %}

                        <input style="text-align: center; width: 50%; height: 50px; margin-bottom: 5%;" type="submit" value="Pagar">
                    </form>
                </div>
                <div class="col-md-4"></div>
            </div>

        {% endif %}     
        
        
    </div>

    {% if messages %}
        {% for message in messages %}
            <script>
                Swal.fire({
                        "title": "Atención",
                        "text": "{{message}}",
                        "confirmButtonColor": "#000",
                        "background": "#ff0"
                    })
            </script>
        {% endfor %}
    {% endif %}

    {% endblock cuerpo %}

    
    {% block js %}
    <script src="{% static 'core/js/carrito.js' %}"></script>
    {% endblock js %}