{% extends 'core/cliente/plantillaConCuenta.html'%}
{% load static %}

    {% block titulo %}
    <title>Carrito</title>
    {% endblock titulo %}
    
    {% block disenos %}
    <link rel="stylesheet" type="text/css" href="{% static  'core/css/carrito.css'%}">
    <script src="https://kit.fontawesome.com/2c74fac334.js" crossorigin="anonymous"></script>
    {% endblock disenos %}

    {% block cuerpo %}
    <div class="container">
        <div class="row" >
            <div class="col-md-12">
                <h1 style="font-size: 45px; text-align: center; text-decoration: underline; margin-top: 2%;">TU CARRITO</h1>
            </div>
        </div>
        <div class="row contenedor__producto ">                
            <div class="col-md-6">
                <div class="contenedor__producto-img">
                    <img src="{% static 'core/img/Electricidad-cable.jpg'%}" alt="No hay imagen disponible">
                </div>
            </div>                
            <div class="col-md-6">
                <div class="contenedor__producto-texto">
                    <h2>CABLE ELECTRICO CORDON ST 3 X 14 AWG</h2>
                </div>
                <div class="contenedor__producto-precio">
                    <p>$3.075  MT</p>
                </div>
                <form name="contador" class="container-button">
                    <input type="number" min="1" value="1" class="contador" name="cantidad">
                    <input type="button" value="Aceptar" name="fijar_cant">
                    <button class="borrar"><i class="fa-solid fa-trash"></i></button> 
                </form>
            </div>
        </div>
        <div class="row contenedor__producto">
            <div class="col-md-6">
                <div class="contenedor__producto-img">
                    <img src="{% static 'core/img/Fijaciones-golilla.jpg'%}" alt="No hay imagen disponible">
                </div>
            </div>
            <div class="col-md-6">
                <div class="contenedor__producto-texto">
                    <h2>GOLILLA PLANA ZINCADA 3/8\"</h2> 
                </div>
                <div class="contenedor__producto-precio">
                    <p>$180  UNI</p>
                </div>
                <form name="contador" class="container-button">
                    <input type="number" min="1" value="1" class="contador" name="cantidad">
                    <input type="button" value="Aceptar" name="fijar_cant">

                    <button class="borrar"><i class="fa-solid fa-trash"></i></button> 
                </form>
            </div>
        </div>
        <div class="row contenedor__producto last-prod">
            <div class="col-md-6">
                <div class="contenedor__producto-img">
                    <img src="{% static 'core/img/Gasfiteria-bomba.png'%}" alt="No hay imagen disponible">
                </div>
            </div>
            <div class="col-md-6">
                <div class="contenedor__producto-texto">
                    <h2>BOMBA PM 45 S/T 220 V.1 X 1 PENTAX</h2>
                </div>
                <div class="contenedor__producto-precio">
                    <p>$130.650  UNI</p>
                </div>
                <form name="contador" class="container-button">
                    <input type="number" min="1" value="1" class="contador" name="cantidad">
                    <input type="button" value="Aceptar" name="fijar_cant">

                    <button class="borrar"><i class="fa-solid fa-trash"></i></button> 
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form class="form-group" style="text-align: center;">
                    <label for="Total">Total: $</label>
                    <input class="no-editable" type="number" min="0" name="total" value="133905" readonly style="width: 30%;">
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form action="{% url 'mostrarMetodoPago' %}" name="pagar" class="container-button-p">
                    <input style="text-align: center; width: 50%; height: 50px; margin-bottom: 5%;" type="submit" value="Pagar">
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    {% endblock cuerpo %}