{% extends 'core/cliente/plantillaConCuenta.html'%}
{% load static %}

    {% block titulo %}
    <title>Electricidad</title>
    {% endblock titulo %}
    
    {% block disenos %}
    <link rel="stylesheet" type="text/css" href="{% static  'core/css/comprar-diseno.css'%}">
    {% endblock disenos %}

    {% block cuerpo %}
    <div class="container">
        <!--Cuerpo-->
        <div class="row">
            <div class="col-md-12">  
                <h1 class="titulo">Electricidad</h1>
            </div>           
        </div>
        <div class="row">
            <div class="col-md-2"></div>                
            <div class="col-md-2 contenedor__producto">
                <div class="contenedor__producto-img">
                    <img src="{% static 'core/img/Electricidad-cable.jpg'%}" alt="No hay imagen disponible">
                </div>
                <div class="contenedor__producto-texto">
                    <a href="{% url 'mostrarProductoCli' %}">CABLE ELECTRICO CORDON ST 3 X 14 AWG</a> 
                </div>
                <div class="contenedor__producto-precio">
                    <p>$3.075  MT</p>
                </div>
                <div class="contenedor__producto-button">
                    <form action="{% url 'mostrarCarritoCli' %}">
                        {% csrf_token %}
                        <button>Agregar</button>
                    </form>
                </div>
            </div>
            <div class="col-md-2 contenedor__producto">
                <div class="contenedor__producto-img">
                    <img src="{% static 'core/img/Electricidad-interruptor.jpg'%}" alt="No hay imagen disponible">
                </div>
                <div class="contenedor__producto-texto">
                    <a href="{% url 'mostrarProductoCli' %}">MODULO INTERRUPTOR 16A 9/12 BTICINO</a> 
                </div>
                <div class="contenedor__producto-precio">
                    <p>$5.750  UNI</p>
                </div>
                <div class="contenedor__producto-button">
                    <form action="{% url 'mostrarCarritoCli' %}">
                        {% csrf_token %}
                        <button>Agregar</button>
                    </form>
                </div>
            </div>
            <div class="col-md-2 contenedor__producto">
                <div class="contenedor__producto-img">
                    <img src="{% static 'core/img/Electricidad-cinta.jpg'%}" alt="No hay imagen disponible">
                </div>
                <div class="contenedor__producto-texto">
                    <a href="{% url 'mostrarProductoCli' %}">CINTA AISLANTE VERDE 10MT IMCOEX</a> 
                </div>
                <div class="contenedor__producto-precio">
                    <p>$575  UNI</p>
                </div>
                <div class="contenedor__producto-button">
                    <form action="{% url 'mostrarCarritoCli' %}">
                        {% csrf_token %}
                        <button>Agregar</button>
                    </form>
                </div>
            </div>
            <div class="col-md-2 contenedor__producto last-prod">
                <div class="contenedor__producto-img">
                    <img src="{% static 'core/img/Electricidad-grampa.jpg'%}" alt="No hay imagen disponible">
                </div>
                <div class="contenedor__producto-texto">
                    <a href="{% url 'mostrarProductoCli' %}">GRAMPAS COAXIAL NEGRO 6 MM</a>
                </div>
                <div class="contenedor__producto-precio">
                    <p>$105  UNI</p>
                </div>
                <div class="contenedor__producto-button">
                    <form action="{% url 'mostrarCarritoCli' %}">
                        {% csrf_token %}
                        <button>Agregar</button>
                    </form>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        </div>        
    </div>
    {% endblock cuerpo %}