{% extends 'core/cliente/plantillaConCuenta.html'%}
{% load static %}

    {% block titulo %}
    <title>Electricidad</title>
    {% endblock titulo %}
    
    {% block disenos %}
    <link rel="stylesheet" type="text/css" href="{% static  'core/css/comprar-diseno.css'%}">
    {% endblock disenos %}

    {% block cuerpo %}
    <div class="container">
        <!--Cuerpo-->
        <div class="row">
            <div class="col-md-12">  
                <h1 class="titulo">{{categoria.nombre_categoria}}</h1>
            </div>           
        </div>
        <div class="row">
            <div class="col-md-2"></div>      
            
            {% for i in products %}
                <div class="col-md-2 contenedor__producto">
                    <div class="contenedor__producto-img">
                        <img src="{{ i.foto_prod.url }}" alt="No hay imagen disponible">
                    </div>
                    <div class="contenedor__producto-texto">
                        <p>{{ i.nombre_prod }}</p> 
                    </div>

                    <div class="contenedor__producto-precio">
                        <p name="precio">$ {{ i.precio }} {{ i.unidad_medida }}</p>
                    </div>
                    

                    <div class="contenedor__producto-button">
                        <a href="{% url 'mostrarProductoCli' i.cod_prod%}" class="boton-fake-2">Ver</a>
                    </div>
                    
                </div>
                {% if forloop.counter|divisibleby:4 and not forloop.last %}
                    <div class="col-md-2 "></div>
                    <div class="col-md-2 "></div>
                {% endif %}
            {% endfor %}

            
            <div class="col-md-2"></div>
        </div>
        </div>        
    </div>
    {% endblock cuerpo %}