{% extends 'core/cliente/plantillaConCuenta.html'%}
{% load static %}

    {% block titulo %}
    <title>Editar Perfil</title>
    {% endblock titulo %}
    
    {% block disenos %}
    <link rel="stylesheet" type="text/css" href="{% static  'core/css/perfil.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static  'core/css/formularios.css'%}">
    {% endblock disenos %}

        {% block cuerpo %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 style="font-size: 45px; text-align: center; text-decoration: underline; margin-top: 3%;">Perfil</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8 ajustado-posicion">
                    <form id="form_editar-perfil" class="contenedor__perfil-form posicion-casillas-formulario editar" method="post" enctype="multipart/form-data" action="{% url 'editarPerfilCli' %}">
                        {% csrf_token %}
                        
                        <div class="form-group left">
                            
                            <div class="contenedor__perfil-foto-e">
                                <img src="{{ user.foto_usuario.url }}" alt="No hay imagen">
                            </div> 
                            <label for="imagen">Imagen:</label><br>
                            <input class="imagen" type="file" id="imagen" name="imagen">
                            <p id="alerta_imagen-ed_perfil" class="alerta"></p>
                        </div>
                        <br>

                        <div class="form-group left">
                            <label>Nombre:</label><br>
                            <input type="text" value="{{user.nombre}}" id="nombre" name="nombre"><br>
                            <p id="alerta_nombre-ed_perfil" class="alerta"></p>
                        </div>
                        <br>

                        <div class="form-group left">
                            <label>Apellido:</label><br>
                            <input type="text" value="{{user.apellido}}" id="apellido" name="apellido"><br>
                            <p id="alerta_apellido-ed_perfil" class="alerta"></p>
                        </div>
                        <br>

                        <div class="form-group left">
                            <label>Rut:</label><br>
                            <input type="text" value="{{user.rut}}" style="width: 25%;" id="rut" name="rut">
                            <input style="width: 6%;" type="text" value="{{user.dvrut}}" id="dvrut" name="dvrut"><br>
                            <label for="aclaracion" style="font-size: 12px;">Anote su rut sin puntos ni guión, si termina en k digite 0</label>
                            <p id="alerta_rut-ed_perfil" class="alerta"></p>
                        </div>
                        <br>
                        <div class="form-group left">
                            <label>Télefono:</label><br>
                            <input type="tel" min="11111111" max="99999999" value="{{user.telefono}}" id="telefono" name="telefono">
                            <p id="alerta_telefono-ed_perfil" class="alerta"></p>
                        </div>
                        <br>
                        <div class="form-group left">
                            <label>Dirección:</label><br>
                            <input type="text" value="{{user.direccion}}" id="direccion" name="direccion">
                            <p id="alerta_direccion-ed_perfil" class="alerta"></p>
                        </div>
                        <br>
                        <div class="form-group left">
                            <label for="correo">Correo Electrónico:</label><br>
                            <input type="email" id="correo" value="{{user.correo}}" name="correo">
                            <p id="alerta_correo" class="alerta"></p>
                        </div>

                        <br>
                        <div class="form-group left">
                            <label>Pregunta de seguridad:</label><br>
                            <select id="pregunta" name="pregunta">
                                {% for pr in pregunta %}
                                    {% if pr.id_pregunta == user.pregunta.id_pregunta %}
                                        <option value="{{pr.id_pregunta}}" selected>{{pr.nombre_pregunta}}</option>
                                    {% else %}
                                        <option value="{{pr.id_pregunta}}">{{pr.nombre_pregunta}}</option>
                                    {% endif%}
                                {% endfor %}
                            </select><br><br>
                            <p id="alerta_pregunta-ed_perfil" class="alerta"></p>
                            <label for="contra_confirm">Respuesta:</label><br>
                            <input type="text" id="respuesta" name="respuesta" value="{{user.respuesta}}" id="respuesta"><br>
                            <p id="alerta_respuesta-ed_perfil" class="alerta"></p>
                        </div>
                        <br>

                        <div class="container-button">
                            <input type="submit" value="Guardar">
                            <a href="{% url 'eliminarCuenta' user.id_usuario%}" class="boton-fake-1">Eliminar cuenta</a>
                        </div>
                    </form>
                </div>
                <div class="col-md-2">
                </div>
            </div>  
        </div>

        {% if messages %}
                {% for message in messages %}
                    <script>
                        Swal.fire({
                            "title": "Atención",
                            "text": "{{message}}",
                            "icon": "warning",
                            "confirmButtonColor": "#000",
                            "background": "#ff0"
                        })
                    </script>
                {% endfor %}
        {% endif %}
        {% endblock cuerpo %}

        {% block js %}
        <script src="{% static 'core/js/editar-perfil-cli.js' %}"></script>
        {% endblock js %}