{% extends 'core/cliente/plantillaConCuenta.html'%}
{% load static %}

    {% block titulo %}
    <title>Pagina Principal</title>
    {% endblock titulo %}
    
        {% block cuerpo %}
        <div class="row">
            <div class="col-md-12 body-container-main">
                <div class="body-container__p-container"> <!--Editar -->
                    <h2>Todo lo que<br>
                        necesitas.</h2>
                    <p>Todo lo que necesitas en tu taller!!</p>
                </div>
            </div>
        </div>
        <div class="row bajo_main">
            <div class="col-md-2"></div>
            <div class="col-md-8">                   
                <div class="boton-contenedor">
                    <button id="boton" type="button" class="boton">Cliente ganador</button>
                </div>                   
            </div>
            <div class="col-md-2"></div>                
        </div>
        <div class="row bajo_main">
            <div class="col-md-2"></div>
            <div class="col-md-10 tabla-contenedor">
                <table id="tabla" class="tabla">
                    <thead>
                        <tr>
                            <th>Foto:</th>
                            <th>Nombre:</th>
                         </tr>
                    </thead>
                     <tbody>  
                      </tbody>
                  </table>
            </div>
            <div class="col-md-2"></div>
        </div>
        {% endblock cuerpo %}
    
    {% block js %}
    <script src="{% static 'core/js/Api-rest.js' %}"></script>
    {% endblock js %}
