{% extends 'core/cliente/plantillaConCuenta.html'%}
{% load static %}

    {% block titulo %}
    <title>Metodo de Pago</title>
    {% endblock titulo %}
    
    {% block disenos %}
    <link rel="stylesheet" type="text/css" href="{% static  'core/css/formularios.css'%}">
    {% endblock disenos %}

    {% block cuerpo %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            </div>


            <div class="col-md-4 ajustado-posicion">
                <h1>Metodo de pago</h1>
                <form id="metodo-de-pago" name="pregunta" method="post" enctype="application/x-www-form-urlencoded">

                    <div class="form-group">
                        <label for="eleccion">Seleccione su metodo de pago:</label><br>
                        <select id="eleccion">
                            <option value="0"></option>
                            <option value="1">Tarjeta debito</option>
                            <option value="2">Tarjeta credito</option>
                        </select><br>
                        <p class="alerta" id="alerta_metodo"></p>
                    </div>

                    <div class="container-button">
                        <input type="submit" value="Confirmar" name="confirmar">
                    </div>
                    
                </form> 
                <br>

            </div>

            <div class="col-md-4">
            </div>
        </div>
    </div>
    {% endblock cuerpo %}

    {% block js %}
    <!--Bootstrap JS-->
    <script src="{% static 'core/js/metodo-de-pago.js' %}"></script>
    {% endblock js %}