<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static  'core/css/barra.css'%}">
    <link rel="stylesheet" type="text/css" href="../../css/perfil.css">
</head>
<body>
    <div class="container-fluid">

        <!--Encabezado-->
        <div class="row header-container">

            <div class="col-md-1">
                <img class="logo" src="../../img/icono.png" alt="Imagen no disponible">
            </div>

            <div class="col-md-1 header-container__name-container">
                <a href="{% url 'mostrarIndexCli' %}">IVAN'S</a>
            </div>

            <div class="col-md-6 col-sm-12">
                <form name="busqueda" method="GET" id="busqueda" >

                    <div class="contenedor_buscar">

                        <div class="header-container__search-container">
                            <input id="Barra-buscar" type="text" placeholder="Buscar..">
                        </div>

                        <div class="header-container__button-container">
                            <input type="submit" name="boton" id="buscar" value="Buscar">
                        </div>

                    </div>

                </form>
            </div>

            <div class="col-md-4 header-container__ul-container">
                <ul>
                    <li><a href="{% url 'mostrarNosotrosCli' %}">NOSOTROS</a></li> 
                    <li><a href="{% url 'mostrarCarritoCli' %}">CARRITO</a></li> 
                    <li><a href="{% url 'mostrarPerfilCli' %}">Perfil</a></li> 
                    <li><a href="{% url 'mostrarIndex' %}">Cerrar sesión</a></li> 
                 </ul>
            </div>
        </div>

        <!--Navegación-->
        <div class="row nav-container">

            <div class="col-md-2 col-sm-0 col-lg-0"></div>

            <div class="col-md-8col-sm-12 col-lg-12  nav-container__ul-container">
                <ul>
                    <li><a href="{% url 'mostrarCategoriaCli' %}">HERRAMIENTAS</a></li> 
                    <li><a href="{% url 'mostrarCategoriaCli' %}">GASFITERIA</a></li> 
                    <li><a href="{% url 'mostrarCategoriaCli' %}">ELECTRICIDAD</a></li> 
                    <li><a href="{% url 'mostrarCategoriaCli' %}">SEGURIDAD</a></li> 
                    <li><a href="{% url 'mostrarCategoriaCli' %}">ROPA Y PROTECCIÓN</a></li> 
                    <li><a href="{% url 'mostrarCategoriaCli' %}">FIJACIONES</a></li> 
                    <li><a href="{% url 'mostrarCategoriaCli' %}">KITS</a></li> 
                </ul>
            </div>

            <div class="col-md-2 col-sm-0 col-lg-0"></div>

        </div>

    </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 style="font-size: 45px; text-align: center; text-decoration: underline; margin-top: 3%;">Perfil</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                </div>

                <div class="col-md-4 col-sm-12">
                    <div class="contenedor__perfil-foto">
                        <img src="../../img/icono-perfil.png" alt="No hay imagen">
                    </div>  
                </div>

                <div class="col-md-4 col-sm-12">
                    <div class="contenedor__perfil-texto">
                        <p> Nombre: Abelardo<br>
                            Apellido: Sánchez<br>
                            Rut: 21.342.568-4<br>
                            Télefono: +56764982253<br>
                            Dirección: Caupolicán 1257
                        </p>
                        <form class="contenedor-boton" action="editar-perfil.html">
                            <button>Editar</button>
                        </form>
                        <form class="contenedor-boton" action="cambiar-contrasena-cli.html">
                            <button>Cambiar contraseña</button>
                        </form>
                    </div>
                </div>

                <div class="col-md-2">
                </div>
            </div>
            
        </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>