{% extends 'core/cliente/plantillaConCuenta.html'%}
{% load static %}
    {% block titulo %}
    <title>Perfil</title>
    {% endblock titulo %}
    
    {% block disenos %}
    <link rel="stylesheet" type="text/css" href="{% static  'core/css/perfil.css'%}">
    {% endblock disenos %}

    {% block cuerpo %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="font-size: 45px; text-align: center; text-decoration: underline; margin-top: 3%;">Perfil</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="contenedor__perfil-foto">
                    <img src="{{ user.foto_usuario.url }}" alt="No hay imagen">
                </div>  
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="contenedor__perfil-texto">
                    <p> Nombre: {{user.nombre}} <br>
                        Apellido: {{user.apellido}} <br>
                        Rut: {{user.rut}}-{{user.dvrut}} <br>
                        Télefono: 9 {{user.telefono}} <br>
                        Dirección: {{user.direccion}}
                    </p>
                    <div class="container-button">
                        <a class="boton-fake-2" href="{% url 'mostrarEditarPerfilCli' %}">Editar</a>
                    </div>
                    <br>
                    <div class="container-button">  
                        <a class="boton-fake-2" href="{% url 'mostrarCambioContraCli' %}">Cambiar contraseña</a>
                    </div>
                    
                    
                </div>
            </div>

            <div class="col-md-2">
            </div>
        </div>
        
    </div>
    {% endblock cuerpo %}   
