{% extends 'core/cliente/plantillaConCuenta.html'%}
{% load static %}

    {% block titulo %}
    <title>{{product.nombre_prod}}</title>
    {% endblock titulo %}
    
    {% block disenos %}
    <link rel="stylesheet" type="text/css" href="{% static  'core/css/producto.css'%}">
    {% endblock disenos %}
    
    {% block cuerpo %}
    <div class="container">
        <div class="row contenedor-padre">
            <div class="col-md-5 contenedor-img">
                <img alt="No hay imagen disponible" src="{{ product.foto_prod.url }}">
            </div>
            <div class="col-md-7 contenedor-texto">
                <h1>{{product.nombre_prod}}</h1>
                <p>{{product.descripcion}}</p>
                <div class="contenedor-precio">
                    <p>${{product.precio}} {{product.unidad_medida}}</p>
                </div>
                <div class="contenedor-boton" style="text-align: center;">
                    <form action="{% url 'agregarAlCarrito' %}" method="POST" >
                        {% csrf_token %}
                        <button class="boton-fake-2">Agregar</button>
                        <input type="hidden" name="id_product" value="{{ product.cod_prod }}">
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock cuerpo %}

