<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gasfiteria</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static  'core/css/barra.css'%}">
    <link rel="stylesheet" type="text/css" href="../../css/comprar-diseno.css">
</head>
<body>
    <div class="container-fluid">

        <!--Encabezado-->
        <div class="row header-container">

            <div class="col-md-1">
                <img class="logo" src="../../img/icono.png" alt="Imagen no disponible">
            </div>

            <div class="col-md-1 header-container__name-container">
                <a href="../index.html">IVAN'S</a>
            </div>

            <div class="col-md-6 col-sm-12">
                <form name="busqueda" method="GET" id="busqueda" >

                    <div class="contenedor_buscar">

                        <div class="header-container__search-container">
                            <input id="Barra-buscar" type="text" placeholder="Buscar..">
                        </div>

                        <div class="header-container__button-container">
                            <input type="submit" name="boton" id="buscar" value="Buscar">
                        </div>

                    </div>

                </form>
            </div>

            <div class="col-md-4 header-container__ul-container">
                <ul>
                    <li><a href="nosotros.html">NOSOTROS</a></li> 
                    <li><a href="registrarse.html">REGISTRARSE</a></li> 
                    <li><a href="inicio-sesion.html">INICIAR SESIÓN</a></li> 
                 </ul>
            </div>
        </div>

        <!--Navegación-->
        <div class="row">
            <nav class="navbar navbar-expand-lg contenedor_nav">
                <div class="nav-container">

                    <div class="col-md-12 col-sm-12 col-lg-12 ">
                        <button class="navbar-toggler boton-nav" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                
                        <div class="collapse navbar-collapse" id="navbarNav">
                
                            <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link links" href="Herramientas.html">HERRAMIENTAS</a></li> 
                            <li class="nav-item active"><a class="nav-link links" href="gasfiteria.html">GASFITERIA</a></li> 
                            <li class="nav-item"><a class="nav-link links" href="electricidad.html">ELECTRICIDAD</a></li> 
                            <li class="nav-item"><a class="nav-link links" href="seguridad.html">SEGURIDAD</a></li> 
                            <li class="nav-item"><a class="nav-link links" href="ropa.html">ROPA Y PROTECCIÓN</a></li> 
                            <li class="nav-item"><a class="nav-link links" href="fijaciones.html">FIJACIONES</a></li> 
                            <li class="nav-item"><a class="nav-link links ultimo" href="kits.html">KITS</a></li> 
                            </ul>
                
                        </div>
                    </div>


                </div>
            </nav>
        </div>

    </div>

    <div class="container">

        <!--Cuerpo-->
        <div class="row">
            <div class="col-md-12">  
                <h1 class="titulo">Gasfiteria</h1>
            </div>
           
        </div>

        <div class="row">

            <div class="col-md-2"></div>
                
            <div class="col-md-2 contenedor__producto">
                <div class="contenedor__producto-img">
                    <img src="../../img/Gasfiteria-interruptor.jpg" alt="No hay imagen disponible">
                </div>
                <div class="contenedor__producto-texto">
                    <a href="Gasfiteria-1.html">INTERRUPTOR FLOTANTE NIVEL 5 MTS</a>
                </div>
                <div class="contenedor__producto-precio">
                    <p>$32.156  UNI</p>
                </div>
                <div class="contenedor__producto-button">
                    <form action="inicio-sesion.html">
                        <button>Agregar</button>
                    </form>
                </div>
            </div>
            <div class="col-md-2 contenedor__producto">
                <div class="contenedor__producto-img">
                    <img src="../../img/Gasfiteria-manometro.jpg" alt="No hay imagen disponible">
                </div>
                <div class="contenedor__producto-texto">
                    <a href="Gasfiteria-2.html">MANOMETRO 0 - 6 BAR </a>
                </div>
                <div class="contenedor__producto-precio">
                    <p>$9.399  UNI</p>
                </div>
                <div class="contenedor__producto-button">
                    <form action="inicio-sesion.html">
                        <button>Agregar</button>
                    </form>
                </div>
            </div>
            <div class="col-md-2 contenedor__producto">
                <div class="contenedor__producto-img">
                    <img src="../../img/Gasfiteria-guardamotor.png" alt="No hay imagen disponible">
                </div>
                <div class="contenedor__producto-texto">
                    <a href="Gasfiteria-3.html">GUARDA MOTOR 220 V 1.6 A 2.5 AMP</a>
                </div>
                <div class="contenedor__producto-precio">
                    <p>$13.990  UNI</p>
                </div>
                <div class="contenedor__producto-button">
                    <form action="inicio-sesion.html">
                        <button>Agregar</button>
                    </form>
                </div>
            </div>
            <div class="col-md-2 contenedor__producto last-prod">
                <div class="contenedor__producto-img">
                    <img src="../../img/Gasfiteria-bomba.png" alt="No hay imagen disponible">
                </div>
                <div class="contenedor__producto-texto">
                    <a href="Gasfiteria-4.html">BOMBA PM 45 S/T 220 V.1 X 1 PENTAX</a>
                </div>
                <div class="contenedor__producto-precio">
                    <p>$130.650  UNI</p>
                </div>
                <div class="contenedor__producto-button">
                    <form action="inicio-sesion.html">
                        <button>Agregar</button>
                    </form>
                </div>
            </div>

            <div class="col-md-2"></div>

        </div>

        

        </div>
        
    </div>
        


    

    
</body>
</html>