{% extends 'core/sin-cuenta/plantillaSinCuenta.html'%}
{% load static %}

    {% block titulo %}
    <title>Producto</title>
    {% endblock titulo %}

    {% block disenos %}
    <link rel="stylesheet" type="text/css" href="{% static  'core/css/producto.css'%}">
    {% endblock disenos %}

    {% block cuerpo %}
    
        <!--Cuerpo-->
        <div class="container">

            <div class="row contenedor-padre">
    
                <div class="col-md-5 contenedor-img">
                    <img alt="No hay imagen disponible" src="{{ product.foto_prod.url }}">
                </div>
                
                <div class="col-md-7 contenedor-texto"> 
                    <h1>{{product.nombre_prod}}</h1>
                    <p>{{product.descripcion}}</p>
                    <div class="contenedor-precio">
                        <p> ${{product.precio}} {{product.unidad_medida.}}</p>
                    </div>
                    <div class="contenedor-boton" style="text-align: center;">
                        <a class="boton-fake-2" href="{% url 'mostrarIni_sesion' %}">Confirmar</a>
                    </div>
                </div>
    
            </div>
    
        </div>
        <!--Fin Cuerpo-->
    {% endblock cuerpo %}