{% extends 'core/sin-cuenta/plantillaSinCuenta.html'%}
{% load static %}

    {% block titulo %}
    <title>Producto</title>
    {% endblock titulo %}

    {% block disenos %}
    <link rel="stylesheet" type="text/css" href="{% static  'core/css/producto.css'%}">
    {% endblock disenos %}

    {% block cuerpo %}
    
        <!--Cuerpo-->
        <div class="container">

            <div class="row contenedor-padre">
    
                <div class="col-md-5 contenedor-img">
                    <img alt="No hay imagen disponible" src="{% static 'core/img/Electricidad-cable.jpg'%}">
                </div>
    
                <div class="col-md-7 contenedor-texto"> 
                    <h1>Cable electrico cordon ST 3 X 14 AWG</h1>
                    <p>Cordon St 3 X 14 </p>
                    <div class="contenedor-precio">
                        <p>$3.075 el metro</p>
                    </div>
                    <div class="contenedor-boton">
                        <button>Agregar</button>
                    </div>
                </div>
    
            </div>
    
        </div>
        <!--Fin Cuerpo-->
    {% endblock cuerpo %}