{% extends 'core/sin-cuenta/plantillaSinCuenta.html'%}
{% load static %}

    {% block titulo %}
    <title>Registro</title>
    {% endblock titulo %}

    {% block disenos %}
    <link rel="stylesheet" type="text/css" href="{% static  'core/css/formularios.css'%}">
    {% endblock disenos %}

    {% block cuerpo %}
    
        <!--Cuerpo-->
        <div class="container posicion">

            <div class="row">
                <div class="col-md-4"></div>
    
                <div class="col-md-4 ajustado-posicion">
                    <h1>Cree su cuenta</h1>
    
                    <form id="registro" class="posicion-casillas-formulario" action="{% url 'registrarUsuario' %}" method="post" enctype="application/x-www-form-urlencoded">
                        {% csrf_token %}
                        <div class="form-group left">
                            <label for="rut">rut:</label><br>
                            <input type="text" id="rut" name="rut" placeholder="Rut" style="width: 40%;">
                            <label for="guion">-</label>
                            <input type="text" id="dvrut" name="dvrut" style="width: 15%;" min="0" max="9">
                            <label for="aclaracion" style="font-size: 12px;">Anote su rut sin puntos ni guión, si termina en k digite 0</label>
                            <p id="alerta_rut" class="alerta"></p><br>
                        </div>
                        
                        <div class="form-group left">
                            <label for="nombre">Nombre:</label><br>
                            <input type="text" id="nombre" name="nombre" placeholder="Nombre"><br>
                            <p id="alerta_nombre" class="alerta"></p><br>
                        </div>
    
                        <div class="form-group left">
                            <label for="Apellido">Apellido:</label><br>
                            <input type="text" id="apellido" name="apellido" placeholder="Apellido"><br>
                            <p id="alerta_apellido" class="alerta"></p><br>
                        </div>
    
                        <div class="form-group left">
                            <label for="telefono">Teléfono:</label><br>
                            <label for="inicio">9</label>
                            <input type="tel" id="fono" name="fono" placeholder="Teléfono"><br>
                            <p id="alerta_telefono" class="alerta"></p><br>
                        </div>
    
                        <div class="form-group left">
                            <label for="direccion">Dirección:</label><br>
                            <input type="text" id="direc" name="direc" placeholder="Dirección"><br>
                            <p id="alerta_direccion" class="alerta"></p><br>
                        </div>
    
                        <div class="form-group left">
                            <label for="correo_reg">Correo Electrónico:</label><br>
                            <input type="email" id="correo" name="correo_reg" placeholder="Correo"><br>
                            <p id="alerta_correo" class="alerta"></p><br>
                        </div>
                        <div class="form-group left">
                            <label for="contra_ini">Contraseña:</label><br>
                            <input type="password" id="contra" name="contra_ini" placeholder="Contraseña"><br>
                            <p id="alerta_contra" class="alerta"></p><br>
                        </div>
                        <div class="form-group left">
                            <label for="contra_confirm">Confirmar Contraseña:</label><br>
                            <input type="password" id="contra_confirm" name="contra_confirm" placeholder="Repetir contraseña"><br>
                            <p class="alerta" id="alerta-conf"></p><br>
                        </div>
    
                        <div class="form-group container-button">
                            <input type="submit" value="Confirmar" id="btn-confirmar">
                        </div>
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li class="{{ message.tags }}">{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </form> 
                </div>
    
                <div class="col-md-4"></div>
    
            </div>
    
        </div>
        <!--Fin Cuerpo-->
    {% endblock cuerpo %}
    
    {% block js %}
    <!--JS-->
    <script src="{% static 'core/js/registrarse.js' %}"></script>
    {% endblock js %}

