.contenedor-barra{
    height: 200px !important;
    min-height: 0px !important;
}

.header-container{
    height: 45% ;
}

.links{
    margin-top: -2% !important;
}


.contenedor-nave{
    height: 55% ;
}

.contenedor_nav{
    height: 100%;
}

.contenedor-cuerpo{
    
}


@media screen and (min-width: 0px) and (max-width: 576px){

    *{
        text-align: center;
    }

    .contenedor-barra{
        height: 320px !important;
    }
    

    .header-container{
        height: 80% !important;

    }

    .contenedor-nave{
        height: 20% !important;
        margin-top: 0px;
    }


}

