.contenedor__producto-contador{
    bottom: 0px;
    position: absolute;
}

.contenedor__producto-button > form >  input{
    height: 40px;
    width: 70px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 15px;
    
}

.stock{
    border-radius: 10px;
    border: 3px solid #000;
    background: #ff0;
    color: #000;
    text-align: right;
    
}
